<div class="container mt-5">
    <h2 class="mb-4">Dashboard</h2>
    <div class="row">
        <!-- Incident Card -->
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Incidents</h5>
                    <h2>{{ incidencount }}</h2>
                    <button class="btn card-button"> 
                        <i class="fa fa-exclamation-circle"></i> View Incidents
                    </button>
                </div>
            </div>
        </div>

        <!-- Change Requests Card -->
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Change Requests</h5>
                    <h2>{{ changerequestcount }}</h2>
                    <button class="btn card-button" (click)="scrollToChangeRequests()"> 
                        <i class="fa fa-key"></i> View Changes
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Incident Usage Pie Chart -->
    <div class="row mt-5">
      <!-- Incident Usage Chart -->
      <div class="col-md-6">
        <h4>Incident Usage</h4>
        <div class="card">
          <div class="card-body">
            <div class="chart-container">
              <canvas baseChart 
                [data]="pieChartData"
                [options]="pieChartOptions"
                [type]="pieChartType">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Change Request Usage Chart -->
      <div class="col-md-6" id="cane">
        <h4>Change Request Usage</h4>
        <div class="card">
          <div class="card-body">
            <div class="chart-container">
              <canvas baseChart 
                [data]="changeRequestChartData"
                [options]="pieChartOptions"
                [type]="pieChartType">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    
</div>
